@import './blocks.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-clr: linear-gradient(90deg, #232323, #0c6147, #0c6147, #232323);
    --theme-clr: #fee96c;
    --dice-clr: #fe0d0b;
    --text-font: 'Gruppo', cursive;
}

body {
    min-height: 100vh;
    background: var(--bg-clr);
    display: grid;
    place-items: center;
    /* padding-top: 5rem; */
    font-family: var(--text-font);
}

@media (max-width: 700px) {
    html {
        font-size: 12px;
    }

    header h1 {
        font-size: 4rem;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 12px;
    }
}