body {
    background-color: #ccc;
}

.dice-container {
    width: 20rem;
    height: 20rem;
    margin: 3rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.dice {
    background-color: firebrick;
    width: 5rem;
    height: 5rem;
    position: relative;
    margin-right: .5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

.dice-dot {
    --left: 50%;
    --top: 50%;

    background-color: #000;
    border-radius: 100%;
    width: 1.1rem;
    height: 1.1rem;

    position: absolute;
    left: var(--left);
    top: var(--top);
    /* transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1)); */
    transform: translateX(-50%) translateY(-50%);
}

.btn-roll-dice {
    margin-left: 3rem;
    cursor: pointer;
}