body {
    background-color: #ccc;
    display: grid;
    place-items: center;
}

.dice-container {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    border: 2px solid crimson;
    border-radius: 1.5rem;
}

.dice {
    margin: .5rem;
    background-color: firebrick;
    width: 5rem;
    height: 5rem;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

.dice-dot {
    --left: 50%;
    --top: 50%;

    background-color: #000;
    border-radius: 100%;
    width: 1.1rem;
    height: 1.1rem;

    position: absolute;
    left: var(--left);
    top: var(--top);
    /* transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1)); */
    transform: translateX(-50%) translateY(-50%);
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    margin-top: 3rem;
}

input[type="range"] {
    position: relative;
}

label {
    display: block;
    margin: -1.5rem auto 0;
}

input[type="range"]:before {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    content: attr(value);
    /* display: block;
    text-align: center; */
    font-size: 2.5rem;
    /* width: 2rem;
    height: 2rem; */
}

.btn-roll-dice {
    cursor: pointer;
    margin-top: 2rem;
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border-radius: 10rem;
}